{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choose the format for the next round
{% endblock %}

{% block content %}
      <div class="card my-3">
        <div class="card-header">Design 1</div>
        <div class="card-body text-center">
            <img src="{% static 'img/non_gamified.png' %}" alt="" width="600" class="border-1 bordered border rounded">
        </div>
    </div>
    <div class="card my-3">
        <div class="card-header">Design 2</div>
        <div class="card-body text-center ">
            <img src="{% static 'img/gamified.png' %}" alt="" class="border-1 bordered border rounded" width="600">
        </div>
    </div>


    {% formfields %}
    {% next_button %}
{% endblock %}


