venv
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
.DS_Store
*.otreezip
gsheet_reader/*.json
*hot-update.js
*hot-update.json
_static/front/*hot-update.js
_static/front/*.hot-update.json
/dist
~front
~front/
~front/*
*/node_modules/*
*/node_modules/
*/node_modules
*/migrations/
*/migrations
*/migrations/*
